<!-- Banner -Header Section -->
<section>
<div class="banner py-3">

<div class="container">
  <div class="intro-text">
    <h1 class="display-4 text-center">Space <span>Creative</span></h1>
    <p class="lead sub-title text-center">Angular-Bootstrap Project</p>
    <hr class="my-4">
    <p class="lead sub-title text-center">Creating a Progressive Web Application (PWA)</p>
    <p class="lead">
      <a class="banner btn btn-primary btn-lg" href="#" role="button">Read More</a>
    </p>
  </div>

    </div>
  </div>
  
  </section>

  <!-- Development Tools Section -->
  <section>
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center mb-2">
      <h1 class="h5">
        <i class="fas fa-laptop fa-lg me-2 text-primary"></i>
        {{ name }}
        <i class="fas fa-mobile-alt fa-lg ms-2 text-primary"></i>
      </h1>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 text-center text-danger mb-2">
      <h2 class="h5">
        {{ version }}<i class="fab fa-angular fa-lg ms-2"></i>
      </h2>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 text-center text-primary mb-2">
      <h2 class="h5">
        {{ bootstrap }}<i class="fab fa-bootstrap fa-lg ms-2"></i>
      </h2>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 text-center text-success mb-2">
      <h2 class="h5">
        {{ fontawesome }}<i class="fab fa-font-awesome-flag fa-lg ms-2"></i>
      </h2>
    </div>
  </div>
  </div>
</section>

  <hr>
  <section>
  <div class="row mb-2">
    <div class="col-md-12 text-center mb-4">
      <h3 class="h5">Features<i class="fas fa-list ms-2"></i></h3>
    </div>
  </div>

<div class="container py-5">
  <div class="row">
<div class="col col-12 col-sm-6 col-md-4 col-sm-12 col-md-3 col-lg-3 col-xl-3 mb-4" *ngFor="let item of features">
  <div class="card nga-card-angular nga-card-cascade">
    <div class="nga-card-img">
      <a routerLink="/{{ item.link }}">
      <!--  <img src="./assets/params/images/example-bootstrap/movie-screen.jpg" class="card-img-top" alt="...">-->
    <img class="img-fluid card-img-top" src="./assets/params/images/img/{{ item.image }}" alt="Card image cap">
  </a>
  </div>
    <div class="card-body pt-2">
      <h3 class="h4 nga-text-primary fw-bold">{{ item.name }}</h3>
      
      <p class="card-text">{{item.description }}
        </p>
    </div>
  </div>
</div>
</div>
</div>

</section>