
  /* ================= Navbar ================== */
  .navbar .navbar-dark .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-weight: 500;
    border-top: 1px solid #09238d;
    border-bottom: 1px solid #09238d;
  }

  /* navbar-text link */
  
.navbar ul li.active > a {
  color: #2e2b2b;
  /*font-weight: bold; */
  font-size: 15px;
  transition: 0.3s all;
}
  
.navbar ul li a{
  color: #2e2b2b;
  margin: 10px 0px 0px 10px;
  text-transform: uppercase;
  font-size: 15px;
  transition: 0.3s all;
}
.navbar ul li a .fas{
  padding-right:5px; 
  padding-left:5px; 
  transition: 0.3s all;
}
.navbar ul li a:hover{
  color: #e7c320;
}

  .nga-navbar {
    -webkit-box-shadow: 0 2px 5px 0 rgba(126, 123, 123, 0.16), 0 11px 10px 0 rgba(156, 152, 152, 0.12);
    box-shadow: 0 2px 5px 0 rgba(133, 131, 131, 0.16), 0 11px 10px 0 rgba(141, 135, 135, 0.12);
    background-color: #fff;
  }
  
  .nga-btn-navbar {
    color: #fff;
    background-color: #1976d2;
    border-color: #0d6efd;
  }
  
  
  .nga-btn-navbar:hover {
    color: white;
    background-color: #0b5ed7;
    border-color: #0a58ca;
  }
  
  
 
  /* ================= Logo ================== */
  .nga-logo {
    font-weight: 700;
  }

  .navbar-logo {
    margin-top: 15px !important;
  }
  .nga-logo:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  
  .nga-navbar-logo:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  
  /* navbar button */
  .navbar .btn-login {
    color: #fff;
    background-color: #2e18f1;
    border-color: #2e18f1;
  }
    


/* ================= Banner ================== */

.intro-text {
  position: relative;
  padding: 20% 0 15% 0;
}

.display-4 {
  color:#212121;

}

.banner {
  position: relative;
  padding: 20% 0 15% 0;
  background: url(src/assets/params/img/pexels-9613.jpg) no-repeat;
  background-attachment: scroll;
  color: #343333;
  background-position: center;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background-size: cover;
  
}


.banner .intro-text h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 5px;
  margin-bottom: 55px;
  -webkit-animation: bounceIn;
  -moz-animation: rubberBand;
  -o-animation: bounceIn;
  animation: bounceIn;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  font-family: 'Oswald', sans-serif;
}


.banner .intro-text h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 4px;
  margin-bottom: 30px;
  -webkit-animation: bounceIn;
  -moz-animation: rubberBand;
  -o-animation: bounceIn;
  animation: bounceIn;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  font-family: 'Oswald', sans-serif;
}


.banner .intro-text .sub-title {
  color: #5a5858;
  font-size: 25px;
}

.banner .intro-text p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 35px;
  letter-spacing: 3px;
  margin-bottom: 55px;-webkit-animation: bounceInLeft;
  -moz-animation: fadeInLeft;
  -o-animation: fadeInLeft;
  animation: bounceLeft;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

.banner .intro-text .btn-primary {
  padding: 15px 20px;
  background: #2c3a7f;
  border-color: #2c3a7f;
  color: #fff;
  font-size: 16px;
  border-radius: 1;
  
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  left:55%;
  position: absolute;
  z-index: 2;
}

.banner .intro-text .btn-primary:hover {
  background: transparent;
  border-color: #ff432e;
  color: #ff432e;
}

/* Banner Creative Letter */
.banner .intro-text h2 span {
  color: #fff;
  box-shadow: #09238d;
  display: inline-block;
  font-weight: 600;
  background-color: #5e5e5f;

}

  /* ================= Card ================== */
.nga-card {
  border: 1-x solid rgba(0, 0,  0.125);
  border-radius: 0.25rem;
  
}

.nga-card a {
  color: #0d6efd;
  text-decoration: none;
}

.nga-card a:hover {
  color: #0d6efd;
}


.nga-card:hover {
border: 1px solid #e8e9ea;
color: #0d6efd;
box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
transition: box-shadow 0.3s ease-in-out;

}

/* Card name */
.card-name {
  font-size: 20px;
  color: grey;

}

/* Card Box-Shadow */

.style-07 {
  position: relative;
}
.style-07::before, .style-07::after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}
.style-07::after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

  /* ================= Footer ================== */
.nga-footer {
  background-color: #212121;
  color: white;
  margin-bottom: 0;
  position: absolute;
  bottom: auto;
  width: 100%;
  
  overflow-x: hidden;
  padding:0;
  margin:0;
  height:70px;   /* Height of the footer */
}

.nga-footer a {
  color: white;
  text-decoration: none
}

.nga-footer a:hover,
.nga-footer a:focus {
  color: yellow;
  text-decoration: underline;
}

.nga-footer .hint {
  background-color: #1976d2;
}

.nga-footer .hint:hover {
  opacity: 0.8;
}


h1 {
  color: rgb(237, 237, 239)
}

.app {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1000px;
  margin: auto;
}

