
/* ============== About-Banner ============== */

.about-banner {
  padding: 251px 0px 175px 0px;

}


@media (min-width: 992px) {
  .container {
  max-width: 960px;
}
}


@media (min-width: 768px) {
  .container {
  max-width: 720px;
}
}


@media (min-width: 576px) {
  .container {
  max-width: 540px;
}
}

*, ::after, ::before{
  box-sizing: border-box;
}

.about-banner .text-color {
  color: #f57479;
}

.about-banner h3, .h3 {
  font-size: 40px;
  line-height: 50px;
  font-family: "Poppins", sans-serif;
  color: #222530;
  font-weight: 500;
  margin-bottom: .5rem;
  margin-top: 0;
  display: block;
  line-height: 1.2;
}


.about-banner .container {
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

.about-banner .text-black {
  color: #000;
}

.about-banner .text-sm-2 {
  font-size: 18px;
}

.about-banner .mt-4 {
  margin-top: 1.5rem !important;
}

.about-banner .section {
  display: block;

}

.about-banner .col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.about-banner h4, .h4 {
  font-size: 24px;
  line-height: 30px;
  font-family: "Poppins" sans-serif;
  font-weight: 500;
  margin-bottom: .5rem;
  margin-top: 0;
  /*margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
}


/* =============== Social Links ============== */

.nga-btn-about {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 47px;
  height: 47px
}


.nga-btn-about i {
  font-size: 1.25rem;
  line-height: 47px;
  display: inline-block;
  width: inherit;
  color: #fff;
  text-align: center
}


.nga-btn-about:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.nga-btn-about i:hover {
  color: rgb(133, 130, 130);
}


.nga-btn-github {
  background-color: #333;
}

.nga-btn-linkedin {
  background-color: #0082ca;
}

.nga-btn-twitter {
  background-color: #55acee;
}


/* ======= Other ========= */
body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}