<section class="about-banner">
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h4 class="text-color">Marjory D. Marquez</h4>
      <h3>I am a Software Engineer from USA.</h3>
      <p class="text-sm-2 mt-4 mb-5 text-black">
        Dolor sit amet consectetur elit sed do eiusmod tempor 
        incididunt labore et dolore magna.
      </p>
   
     <a type="button" class="nga-btn-about nga-btn-github" href="https://github.com/Marjory00"
     aria-label="Github Marjory00"><i class="fab fa-github"></i></a>
     <a type="button" class="nga-btn-about nga-btn-linkedin" href="https://www.linkedin.com/in/marjory-marquez-943a8999"
     aria-label="Linkedin Marjory00"><i class="fab fa-linkedin"></i></a>
   
 </div>
</div>
</div>

</section>