
  <header class="navbar navbar-expand-md navbar-dark fixed-top nga-navbar">
    <nav class="container" aria-label="Main navigation">
      <a routerLink="/" class="navbar-brand" alt="Logo" aria-label="Web">
      <img src="https://i.postimg.cc/C1B6tm84/logo.png" width="95" height="95" alt="Logo">
      <span class="nga-logo mx-1">Logo</span>
      </a>
      
    </nav>
    <section>
      <h1>{{ title }}</h1>
      <h2> {{ version }}</h2>
    </section>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/about">Contact</a></li>
        <li><a routerLink="/about">Login</a></li>
        <li><a routerLink="/about">Signup</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
  
  <footer>
    <a href="https://github.com/Marjory00/">2023 - Marjory Marquez</a>
  </footer>
