<div class="app">
  <header>
    <section>
      <h1>{{ title }}</h1>
      <h2> {{ version }}</h2>
    </section>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/about">Contact</a></li>
        <li><a routerLink="/about">Login</a></li>
        <li><a routerLink="/about">Signup</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
  
  <footer>
    <a href="https://github.com/Marjory00/">2023 - Marjory Marquez</a>
  </footer>
</div>